@import 'icomoon.styl'
@import 'fonts.styl'

// colores
primary_dark = #388E3C
light_primary = #C8E6C9
primary = #4CAF50
text = #FFFFFF
accent = #FF9800
primary_text = #212121
secondary_text = #757575
divider = #BDBDBD

*
	margin 0
	padding 0
	font-family 'regular'
	font-size 15px

a
	text-decoration none 

ul,ol 
	list-style none
	
body 
	background-image linear-gradient(#008618, #90F0F1, #008618)
	
	.graficador
		padding 1em 3em
		width 900px 
		margin 0 auto
		
		.cuadro_grafico
			max-width 400px
		    min-width 350px
		    height 400px
			width: 100%			
			margin 1em 0
			padding 0
	    
	header
		background primary_dark
		border-bottom 1px solid rgba(0,0,0,0.1)
		padding 1em 2em
		color white
		-webkit-box-shadow 0px 0px 30px -2px rgba(0,0,0,0.62)
		-moz-box-shadow 0px 0px 30px -2px rgba(0,0,0,0.62)
		box-shadow 0px 0px 30px -2px rgba(0,0,0,0.62)

		h1, ul, form
			display inline-block
			vertical-align middle
		
		h1 
			font-size 25px
			font-family 'bold'
		
		form 
			padding 0 1em 0 3em
			
			label 
				font-size 12px 
				font-family 'light'
				padding 0 0.5em
			
			input
				background white
				border 1px solid rgba(0,0,0,0.1)
				border-radius 0.2em
				padding 0.5em 0.7em
				font-size 12px 
				font-family 'light'
				color secondary_text
			
			input[type='submit']
				background divider
				color white
				font-size 12.5px
				cursor pointer 
				transition all 0.3s linear
				padding 0.6em 0.7em
				margin 0 0 0 0.5em
			
			input[type='submit']:hover
				background accent
		
		ul 
			float right 
			padding 0 2em 0 0
				
			li 
				display inline-block
				vertical-align middle
				margin 0 0.5em 0 0
				
				a 
					color white
					font-size 30px
					transition all 0.3s linear
				
				a:hover
					color accent
	
	#login
		width 400px 
		margin 8em auto
		border 1px solid rgba(0,0,0,0.1)
		border-radius 0.3em
		padding 1em 2em
		background white
		
		figure
			width 350px
			margin 0 auto
			padding 1em 0
			
			img 
				width 100%
		
		input
			display block
			width 95%
			background white
			border 1px solid rgba(0,0,0,0.1)
			border-radius 0.2em
			padding 0.5em 0.7em
			font-size 15px 
			font-family 'light'
			color secondary_text
			margin 0.5em 0
		
		input[type='submit']
			background accent
			color white
			width 100%
			cursor pointer
			
	footer
		position fixed
		bottom 0		
		right 10px
		
		figure 
			width 300px 
			margin 0 auto
			
			img 
				width 100%